* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}


/* Fonts */

p,
li,
a {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 800;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

h3,
h4,
h5,
h6 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
}



.hero {
  background: url('../assets/photos/landing.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  z-index: 0;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: left;
}

.content p {
  margin-top: 10px;
  font-size: .8rem;
}

.content h2 {
  /* color: #A4CCD9; */
  color: #6b84a5;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

.nav-logo {
  height: 60px;
  /* Adjust size as needed */
  width: auto;
  scale: 1.5;
  transition: transform 0.3s ease;
}

.nav-logo:hover {
  transform: scale(1.2);
  /* Adds a slight zoom effect on hover */
}

.navbar {
  background-color: #333632 !important;
  /* Reduced opacity for dimming */
  backdrop-filter: blur(8px);
  /* Adds blur effect */
  -webkit-backdrop-filter: blur(8px);
  /* For Safari support */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  /* Optional: adds subtle shadow */
}

.navbar .nav-link {
  color: #d5c299 !important;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: #6b84a5 !important;
}

.navbar-toggler {
  border-color: #6b84a5;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(236, 209, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.quote-btn {
  background-color: #d5c299;
  color: #333632;
  font-weight: 500;
  padding: .4rem 4rem;
  /* Increased padding for bigger button */
  font-size: 1.1rem;
  /* Larger font size */
  display: inline-block;
  margin: 0;
  /* Center horizontally with margin auto */
  transition: all 0.3s ease;
  text-decoration: none;
}

.quote-btn:hover {
  background-color: #c4b088;
  color: white;
  transform: translateY(-2px);
}

.contactUs-btn {
  background-color: transparent;
  color: white;
  font-weight: 500;
  padding: .4rem 4rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease;
  text-decoration: none;
  border: 2px solid white;
}

.contactUs-btn:hover {
  background-color: white;
  color: #333632;
  transform: translateY(-2px);
}

/* Center the button container */
.content .row {
  justify-content: start;
  text-align: center;
}

.box-section {
  position: relative;
  margin-top: -3rem;
  z-index: 3;
}

.box-wrapper {
  background-color: white;
  padding: 2rem;
  min-height: 600px;
}

.box-item {
  min-height: 300px;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.littleBox1 {
  border-right: .5px solid black;
  border-bottom: .5px solid black;
}

.littleBox2 {
  border-left: .5px solid black;
  border-bottom: .5px solid black;
}

.littleBox3 {
  border-right: .5px solid black;
  border-top: .5px solid black;

}

.littleBox4 {
  border-left: .5px solid black;
  border-top: .5px solid black;
}

.box-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.box-left {
  background-color: #6b84a5;
}

.box-right {
  padding: 0 !important;
}

@media (max-width: 900px) {
  .content {
    margin: 10px;
  }
}

@media (max-width:395px) {
  .contactUs-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  .quote-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  .learn-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
}

.box-wrapper h2 {
  color: #333632;
  margin-bottom: 2rem;
  position: relative;
  z-index: 4;
}

.box-wrapper p {
  color: #333632;
  font-size: .9rem;
  line-height: 1.8rem;
}

.learn-btn {
  background-color: #333632;
  color: white;
  font-weight: 500;
  padding: .5rem 2.5rem;
  font-size: .8rem;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.learn-btn:hover {
  background-color: white;
  color: #333632;
  transform: translateY(-2px);
  border: 1px solid #333632;
}

.learn-btn2 {
  background-color: #333632;
  color: white;
  font-weight: 500;
  padding: .5rem 2.5rem;
  font-size: .8rem;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.learn-btn2:hover {
  background-color: #6b84a5;
  color: #333632;
  transform: translateY(-2px);
  border: 1px solid #333632;
}

.sustainability-content p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  font-weight: 250;
  font-size: 0.9rem;
}

.founder-image img {
  position: relative;
  margin: 30px auto;
}

.founder h4 {
  color: #6b84a5;
}

.image-overlay {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
  text-align: center;
}

.image-overlay h2 {
  color: #333632;
  margin: 0;
}

.image-overlay p {
  color: #333632;
  font-size: 1.1rem;
  margin: 0;
}

.founder-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333632;
  font-weight: 150;
  font-size: 0.9rem;
  padding-top: 20px;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
}


/*************** SERVICES ***************/
.hero-services {
  position: relative;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  background: url('../assets/photos/servicesHero.jpg') no-repeat center center/cover;
  color: white;
  z-index: 0;
}



@media (min-width: 1140px) {
  .hero-services {
    height: 60vh;
  }

  section.services-section .services-title {
    padding: 1rem 15rem;
  }

}

.services-title {
  text-align: center;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 1rem;
}

.services-title h6 {
  line-height: 2;
}

.service-card .img-container {
  width: 100%;
  height: 500px;
  /* Fixed height for all images */
  overflow: hidden;
  margin-bottom: 1rem;
}

.service-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Maintains aspect ratio while filling container */
  object-position: center;
  /* Centers the image */
}

.services-cards {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 50px;
  background-color: #333632;
  color: white;
}

.services-cards p {
  line-height: 2;
}



.line-height {
  line-height: 2.5;
}


@media (min-width: 768px) {
  .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card .img-container {
    width: 100%;
    height: 300px;
    /* Fixed height for all images */
    /* overflow: hidden; */
    margin-bottom: 1rem;
  }
}

@media (min-width: 1140px) {
  .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card .img-container {
    width: 100%;
    height: 400px;
    /* Fixed height for all images */
    /* overflow: hidden; */
    margin-bottom: 1rem;
  }
}

@media (min-width:0px) and (max-width: 767px) {
  .service-card .img-container {
    width: 100%;
    height: 300px;
    /* Fixed height for all images */
    /* overflow: hidden; */
    margin-bottom: 1rem;
  }
}

@media (min-width: 1400px) {
  .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .service-card .img-container {
    width: 100%;
    height: 500px;
    /* Fixed height for all images */
    /* overflow: hidden; */
    margin-bottom: 1rem;
  }
}

.services-cards img {
  margin-bottom: 15px;
  width: 100%;
}

.cta {
  position: relative;
  background: url('../assets/photos/bg-cta.jpg') no-repeat center center/cover;
  padding: 2rem;
  color: white;
}

.cta::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.4);
}

.cta>* {
  position: relative;
  z-index: 2;
}


@media (min-width: 768px) {
  .cta {
    display: flex;
    justify-content: center;
  }

  .cta-info {
    padding: 3rem;
  }
}


@media (min-width: 1140px) {
  .cta {
    display: flex;
    justify-content: center;
  }

  .cta-info {
    padding: 3rem;
  }

  .cta-info h5 {
    font-size: 3rem;
  }

  .cta-info p {
    font-size: 2rem;
  }

  .cta-info h5,
  .cta-info p {
    line-height: 2;
  }
}




/*************** FOOTER ***************/
.footer {
  margin-top: 40px;
  background-color: #333632;
}

/* @media (min-width: 768px) {
  .contenido-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }
} */


.contenido-footer {
  padding: 2rem;
  /* 2rem = 20px... 1rem = 10px */
}

/* @media (max-width: 480px) {
  .contenido-footer {
    padding: 4rem 4rem 2rem 4rem;
  }
} */

.texto-footer {
  color: white;
  text-align: left;
  margin-bottom: 35px;
}

.texto-footer h3 {
  margin-bottom: 30px;
}

.texto-footer p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.footer-text p {
  color: white;
  font-size: 1.3rem;
  padding-left: 30px;
}

.social-icons {
  padding-right: 30px;
}

.social-icons i {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 10px;
  scale: 1.5;
  color: #d5c299;
}


/*************** FORM ***************/
.quote-container {
  background-color: #333632;
  padding: 2rem;
  color: white;
}

.form-boxes {
  color: #dee2e6;
}

button:disabled,
.submit-btn:disabled,
.submit-btn-appointment:disabled {
  cursor: default;
  pointer-events: none;
}


.submit-btn {
  background-color: #c4b088;
  color: #333632;
  font-weight: 500;
  padding: .3rem 4rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.submit-btn:hover {
  background-color: #d5c299;
  color: white;
  transform: translateY(-2px);
}


.submit-btn-appointment {
  background-color: #142844;
  color: white;
  font-weight: 500;
  padding: .3rem 4rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
  border: none;
}

.submit-btn-appointment:hover {
  background-color: white;
  color: #142844;
  transform: translateY(-2px);
}


/*************** ABOUT US ***************/

.about {
  padding: 1rem;
}

.hero-about {
  position: relative;
  height: 60vh;
  background: url('../assets/photos/aboutHero.jpg') no-repeat center center/cover;
  color: white;
  z-index: 0;
}

@media (min-width: 1140px) {
  .about {
    display: flex;
    padding: 1rem;
  }

  section.about-section .about-keys,
  .about-title {
    width: 50%;
  }

  section.about-section .about-keys {
    display: flex;
    flex-direction: column;
  }

  section.about-section .keys-flex {
    display: flex;
    align-items: center;
    text-align: left;
  }

  section.about-section .key-icono {
    margin-bottom: 3rem;
  }
}

/* max width al footer para ver si sale como se supone */

.about-title-text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 40px 0;
  gap: 15px;
}

@media (max-width: 480px) {
  .about-title-text {
    align-items: baseline;
  }
}

@media (max-width: 1139px) {
  .about-title-text {
    align-items: center;
  }
}


.button-about {
  width: 45%;
  padding: 0.8rem 1rem;
  text-align: center;
  font-weight: bold;
}


.key-texto_about {
  padding: 1rem;
}

.about-section_keys {
  padding-top: 2rem;
  text-align: center;
}

.about-keys {
  text-align: center;
}

@media (max-width: 480px) {
  .about-keys {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1139px) {
  .about-keys {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-keys .keys2:last-child {
    grid-column: 1 / -1;
    /* para q coja toda la 'fila' */
    justify-self: center;
  }

}

@media (min-width: 1140px) {
  .about-keys {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


@media (max-width: 1139px) {
  .keys-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.keys {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}


.key-icono {
  justify-content: center;
  border-radius: 50%;
  max-width: 50px;
  background-color: #333632;
  color: white;
  padding: 0.5rem;
}

.key-texto h5 {
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 1140px) {
  .about-section_members {
    padding: 0 1rem;
  }
}

.members-title {
  margin: 40px 0;
  text-align: center;
}

.about-members {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@media (min-width: 850px) {
  .about-members {
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    gap: 8rem
  }
}

@media (min-width: 1140px) {
  .about-members {
    gap: 15rem;
  }
}


.member-info img {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

.member-info {
  text-align: center;
  margin-bottom: 20px;
}

.member-info h5 {
  margin-top: 10px;
}


/* Tuve que ponerle la 'ruta' completa pq hay algun !important que no me deja ponerlo bien */
@media (min-width: 1140px) {
  section.best-practices .practices {
    display: flex;
  }

  section.best-practices .practices_left-column,
  section.best-practices .practices_right-column {
    width: 50%;
    padding: 12rem;

  }

  .practices_right-column p {
    margin: 30px 0
  }

}

@media (min-width: 820px) {

  section.best-practices .practices_left-column,
  section.best-practices .practices_right-column {
    padding: 6rem;

  }
}


.practices_left-column {
  background-color: #333632;
  padding: 2rem;
  color: white;
}

.practices_left-column p {
  margin-top: 20px;
}

.button-practices {
  width: 45%;
  padding: 0.8rem 1rem;
  text-align: center;
  font-weight: bold;
}

.practices_right-column {
  background-color: #6b84a5;
  padding: 1rem;
  color: #323a4b;
}



.iconos_right-column {
  display: flex;
  gap: 1rem;
  margin-bottom: 20px;
}


/*************** PROJECTS ***************/

.hero-project {
  height: 60vh;
  background: url('../assets/photos/projectHero.jpg') no-repeat center center/cover;
  color: white;
  z-index: 0;
}

.projects-title_text {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  gap: 15px;
  text-align: center;
}

.projects-cards {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  color: white;
}

@media (min-width: 768px) {
  .projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1140px) {
  .projects-cards {
    grid-template-columns: repeat(3, 1fr);
    line-height: 0;
  }
}



/* @media (min-width: 768px) {
  section.projects-section .projects-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 0;
    padding: 0;
  }
} */


.projects {
  line-height: .5;
}

.project-image img {
  width: 100%;
  height: 300px;
}


.project-info {
  padding: 0 1rem;
  margin-top: -70px;
}



/*************** Contact ***************/

.hero-contact {
  position: relative;
  height: 60vh;
  background: url('../assets/photos/contactHero.jpg') no-repeat center center/cover;
  color: white;
  z-index: 0;
}

.overlay-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  z-index: 1;
  position: relative;
}

.social-icon-contact i {
  color: #142844;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 10px;
  height: 50px;
  width: 50px;
  scale: 1.5;
  transition: color 0.3s ease;
}

.contact-info-content p {
  padding-top: 15px;
}

.submit-btn-appointment {
  background-color: #142844;
  color: white;
  font-weight: 500;
  padding: .3rem 4rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
}

.submit-btn-appointment:hover {
  background-color: white;
  color: #142844;
  transform: translateY(-2px);
  cursor: pointer;
}