* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.hero {
  background: url('../assets/photos/landing.jpg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  text-align: center;
  z-index: 0;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 20px;
  text-align: left;
}

.content p {
  margin-top: 10px;
  font-size: .8rem;
}

.content h2 {
  color: #f8bd3f;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

.nav-logo {
  height: 50px;
  /* Adjust size as needed */
  width: auto;
  transition: transform 0.3s ease;
}

.nav-logo:hover {
  transform: scale(1.1);
  /* Adds a slight zoom effect on hover */
}

.navbar {
  background-color: rgb(0, 5, 35) !important;
  /* Reduced opacity for dimming */
  backdrop-filter: blur(8px);
  /* Adds blur effect */
  -webkit-backdrop-filter: blur(8px);
  /* For Safari support */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  /* Optional: adds subtle shadow */
}

.navbar .nav-link {
  color: #f8bd3f !important;
  font-weight: 500;
  padding: 0.5rem 1rem;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  border-color: #f8bd3f;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(236, 209, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.quote-btn {
  background-color: #d5c299;
  color: #333632;
  font-weight: 500;
  padding: 1rem 3rem;
  /* Increased padding for bigger button */
  font-size: 1.1rem;
  /* Larger font size */
  display: inline-block;
  margin: 0;
  /* Center horizontally with margin auto */
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
}

.quote-btn:hover {
  background-color: #c4b088;
  color: white;
  transform: translateY(-2px);
}

.contactUs-btn {
  background-color: transparent;
  color: white;
  font-weight: 500;
  padding: 1rem 3rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid white;
}

.contactUs-btn:hover {
  background-color: white;
  color: #333632;
  transform: translateY(-2px);
}

/* Center the button container */
.content .row {
  justify-content: start;
  text-align: center;
}

.box-section {
  position: relative;
  margin-top: -3rem;
  z-index: 3;
}

.box-wrapper {
  background-color: white;
  padding: 2rem;
  min-height: 600px;
}

.box-item {
  min-height: 300px;
  transition: transform 0.3s ease;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.littleBox1 {
  border-right: .5px solid black;
  border-bottom: .5px solid black;
}

.littleBox2 {
  border-left: .5px solid black;
  border-bottom: .5px solid black;
}

.littleBox3 {
  border-right: .5px solid black;
  border-top: .5px solid black;

}

.littleBox4 {
  border-left: .5px solid black;
  border-top: .5px solid black;
}

.box-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.box-left {
  background-color: #f8bd3f;
}

.box-right {
  padding: 0 !important;
}

@media (max-width: 900px) {
  .content {
    margin: 10px;
  }
}

@media (max-width:395px) {
  .contactUs-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  .quote-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }

  .learn-btn {
    padding: 0.5rem 1.5rem;
    font-size: 0.9rem;
  }
}

.box-wrapper h2 {
  color: #333632;
  margin-bottom: 2rem;
  position: relative;
  z-index: 4;
}

.box-wrapper p {
  color: #333632;
  font-size: .9rem;
  line-height: 1.8rem;
}

.learn-btn {
  background-color: rgb(0, 5, 35);
  color: white;
  font-weight: 500;
  padding: .5rem 2.5rem;
  font-size: .8rem;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.learn-btn:hover {
  background-color: white;
  color: rgb(0, 5, 35);
  transform: translateY(-2px);
  border: 1px solid rgb(0, 5, 35);
}

.learn-btn2 {
  background-color: rgb(0, 5, 35);
  color: white;
  font-weight: 500;
  padding: .5rem 2.5rem;
  font-size: .8rem;
  display: inline-block;
  transition: all 0.3s ease;
  text-decoration: none;
  cursor: pointer;
}

.learn-btn2:hover {
  background-color: #f8bd3f;
  color: rgb(0, 5, 35);
  transform: translateY(-2px);
  border: 1px solid rgb(0, 5, 35);
}

.sustainability-content p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: start;
  font-weight: 100;
  font-size: 0.9rem;
}

.founder-image img {
  position: relative;
  margin: 20px auto;
}

.image-overlay {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  color: white;
  padding: 10px;
  text-align: center;
}

.image-overlay p {
  font-size: 1.1rem;
  margin: 0;
}

.founder-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333632;
  font-weight: 150;
  font-size: 0.9rem;
  padding-top: 20px;
}


/* SERVICES */
.hero-services {
  background-color: #01042D;
  color: white;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1140px) {
  .hero-services {
    height: 60vh;
  }
}

.services-title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.gold{
  color: #FFD700;
}

.services-cards {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  gap: 50px;
  
}


@media (min-width: 850px) {

  
  .services-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1140px) {
  .services-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.services-cards img {
  margin-bottom: 15px;
  width: 100%;
}

/* FOOTER */
.footer {
  margin-top: 30px;
  background-color: #01042D;
}

@media (min-width: 1140px) {
  .contenido-footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr)
  }
}


.contenido-footer {
  padding: 5rem;
  /* 2rem = 20px... 1rem = 10px */
}

.texto-footer {
  color: white;
  text-align: left;
  margin-bottom: 35px;
}

.texto-footer h3 {
  margin-bottom: 30px;
}

.texto-footer p {
  margin-top: 30px;
  margin-bottom: 30px;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}


/* FORM */
.quote-container {
  background-color: rgb(0, 5, 35);
  padding: 2rem;
  color: white;
}

.form-boxes {
  color: #f8bd3f;
}

.submit-btn {
  background-color: #c4b088;
  color: #333632;
  font-weight: 500;
  padding: .3rem 4rem;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  transition: all 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
}

.submit-btn:hover {
  background-color: #d5c299;
  color: white;
  transform: translateY(-2px);
}